{% extends "msgboard/tmp_base.html" %}
{% load bootstrap4 %}
{% load static %}

<html>
    <head>
        <title>Beyond message board</title>
        <style type="text/css">
            .author, .eom { color: grey }
        </style>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    </head>
<body>
    {% block content %}
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{% static 'recipeSearch/css/bootstrap-tagsinput.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'recipeSearch/css/bootstrap-tagsinput.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'recipeSearch/css/search.css' %}">
    <div class="searchMain row">
        <h1>Recipe Search</h1>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="I want to make">
        <div class="tableAndForm row">
            <form class="formWrapper col-md-4">
                <h5 data-toggle="collapse" data-target="#FilterCollapse" aria-expanded="false" aria-controls="FilterCollapse">Filter Options</h5>
                <div class="form-group multi-collapse collapse" id="FilterCollapse">
                    <div class="form">
                        <div class="input-group">
                            <input type="text" data-role="tagsinput" value="" placeholder="Type ingredients" data-separator="\n">
                        </div>
                        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#mealStyleCollapse" aria-expanded="false" aria-controls="mealStyleCollapse">Meal Type</button>
                        <div class="meal-style multi-collapse collapse" id="mealStyleCollapse">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="mealStyle" id="exampleRadios3" value="option3">Italian</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="mealStyle" id="exampleRadios3" value="option3">Asian</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="mealStyle" id="exampleRadios3" value="option3">Mediterranean</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="mealStyle" id="exampleRadios3" value="option3">French</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="mealStyle" id="exampleRadios3" value="option3">Fusion</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="mealStyle" id="exampleRadios3" value="option3">Mexican</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="mealStyle" id="exampleRadios3" value="option3">Indian</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="mealStyle" id="exampleRadios3" value="option3">Breakfast</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="mealStyle" id="exampleRadios3" value="option3">Sweets</input>
                            </div>
                        </div>
                        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#foodKindCollapse" aria-expanded="false" aria-controls="foodKindCollapse">Includes</button>
                        <div class="food-kind  multi-collapse collapse" id="foodKindCollapse">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="foodKind" id="exampleRadios1" value="option1" checked>Meat</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="foodKind" id="exampleRadios2" value="option2">Dairy</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="foodKind" id="exampleRadios3" value="option3">Fish
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="foodKind" id="Vegan" value="option3">Vegan</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="foodKind" id="Vegetarian" value="option3">Vegetarian</input>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="foodKind" id="Kosher" value="option3">Kosher</input>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info mb-2">Apply Filter</button>
                </div>
                
            </form>
            <div class="tableWrraper col-md-8">
                <div class="table">
                    {% for recipe in recipes %}
                        <div class="recipe">
                            Posted by {{recipe.name}}
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>
    </div>
    {% endblock content %}
</body>
