.recipe-card {
  border:1px solid #f0f1f3;
  width: 300px;
  margin: 50px auto;
  background: #FFFF;
  position: relative;
}
.recipe-card__body {
    padding: 20px;
}
.recipe-card__heading {
  padding: 0;
  margin: 0 0 0;
  color: #444;
}
.recipe-card__subhead {
  font-size: 13px;
  color: #555;
  margin-bottom: 30px;
}
.recipe-card__ingredients {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  column-count: 1;
  color: #000000;
}
.recipe-card__ingredients.li {
  margin-bottom: 5px;
}
.recipe-card__ingredients.li:before {
  content: '\2022';
  color: #0fb655;
  margin-right: 5px;
}

.recipe-card__nav {
  margin: 0 0 20px;
  padding: 0;
  border-bottom: 1px solid #0fb655;
  }

  .recipe-card__nav.li {
    display: inline-block;
    margin-right: 30px
  }
  .recipe-card__nav.h3 {
    margin: 0;
    padding: 0;
  }
  .recipe-card__nav.h3:after {
    content: '';
    display: block;
    width: 0%;
    padding-top: 10px;
    margin: 0 auto;
    border-bottom: 5px solid #0fb655;
    transition: width 250ms ease-in-out 0s;
  }
  .recipe-card__nav.h3:hover {
    cursor: pointer;
  }
  .recipe-card__nav.h3:hover:after, h3.active:after {
   width: 100%;
  }

@media (min-width:599px) {
  .recipe-card {
    width: 600px
  }
  .recipe-card__ingredients {
    column-count: 2
  }
}

.recipe-details {
  display: flex;
  list-style: none;
  align-items: center;
  justify-items: center;
  padding: 1.4em 0 1em;
  margin: 0;
  justify-content: space-between;
  color: #000000;
}
.recipe-details.recipe-details-item {
  flex: 1;
}
.recipe-details.recipe-details-item.i {
  font-size: 30px;
}
.recipe-details.recipe-details-item.i.value {
  color: #000000;
  margin-left: .35em;
  vertical-align: bottom;
}
.recipe-details.recipe-details-item.i.title {
  display: block;
  margin-top: -4px;
  font-size: 21px;
  font-weight: 300;
}
.share_ingredient {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.add_ingredient {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.loading-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 75vh;
}