.meal-style {
}

.food-kind {
}

.table {
    background-color: teal;
    width: 600px;
    height: 600px;
    margin-left: 10px;
}

.searchMain {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.tableAndForm {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.formWrapper {
    text-align: left;
    padding: 10px;
    height: fit-content;
    background-color: wheat;
}

h1 {
    display: flex;
}

.btn-info {
    margin: 5px;
}

.bootstrap-tagsinput {
    display: flex;
    flex-grow: 1;
    margin: 5px;
}

.input-group {
    display: flex;
    flex-grow: 1;
}